$grid-col-num: 12;
$grid-padding: 20px;
$grid-divide-limit: (sm: 769px,md: 992px,lg: 1200px);
$grid-type: width offset pull push;

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container-fluid{
	width: 100%;
	padding-left: $grid-padding/2;
	padding-right: $grid-padding/2;
}

.row{
	margin-left: $grid-padding/-2;
	margin-right: $grid-padding/-2;
	overflow: hidden;
}

@import 'mixin';

@include make-base-grid;

@each $type in $grid-type{

	@for $i from 1 through $grid-col-num{
		@include make-differ-grid-width($i,xs,$type);
	}

	@include make-media-cols($grid-divide-limit, $type);
}


